html, body {
    height: 100%;
}

Body{
    display:flex;
    justify-content:center;
    align-items:center; 
    }

#grid-1 {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    grid-gap: 15px;
    background-color: 	#E0E0E0;
    padding: 20px;
    border-radius: 10px;
    border: 2px;
    border-color: black;
    border-style: ridge;
}

#result {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
    background-color: black; 
    font-size: 3rem;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-radius: 10px;
}

.item-equal {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-multiply {
    grid-row-start: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.item-0 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    background-color:	#585858;
    border-radius: 10px;
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color:black ;
}

button:active {
    transform: scale(1);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: aqua;
}